.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    row-gap: 7em;
    max-width: 100%;
    width: 70%;
    align-items: center;
    /* margin-left: 15rem; */
    margin: 0rem 15rem 0rem 15rem;
    /* margin-right: 12rem; */
    /* margin-top: 5rem; */
    

}

.list button {
    /* background-color: rgba(240, 248, 255, 0); */
    /* border-radius: 0px; */
    /* border-color: rgb(0, 0, 0, 0); */
    background-color: rgba(240, 248, 255);
    border-radius: 5px;
    border-color: rgb(0, 0, 0);


}