.duell {
    background-color: #76D0EB;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



.duell .header {
    /* background-color: #FCD90B; */
    display: flex;
    height: 40px;
}

.duell .camera {
    /* background: burlywood; */
    display: flex;
    flex-direction: column;
    perspective: 100rem;
    width: 80%;
    height: 80%;
    margin: auto;
}

.duell .perspecite {
    /* background: white; */
    display: flex;

    flex-direction: column;
    transform: rotateX(50deg);
    width: 100%;
    height: 100%;
    margin: auto;


}

.duell .board {
    background: #E1A478;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    /* transform: rotateX(50deg); */
    min-width: 1200px;
    max-width: 1200px;
    min-height: 1200px;
    max-height: 1200px;
    margin: auto;
    position: relative;
    bottom: 460px;
    padding: 20px;
    border: 20px solid white;

    /* background: white; */
    background-image: radial-gradient(#E0935C 10%, transparent 0);
    background-size: 4% 4%;
    /* background-position: -19px -19px; */
}

.duell .fightArea {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    /* gap: fill; */
    border: 20px solid white;
    /* box-shadow: 20px -20px red; */
    /* margin: 20px 400px; */
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.duell .fightArea button {
    background-color: white;
    font-size: 2rem;
    border: 4px solid black;
    padding: 4px;
}

.duell .board * {
    /* transform: rotateX(10deg); */
}