.deck {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    margin: auto;
    justify-content: space-around;
    border: 20px solid white;
    height: 300px;
    width: 100%;
    background-color: red;
}

.deck .cards {
    
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.deck-card {
    display: flex;
    
}

.deck .death {
    opacity: 0.5;
}

.deck .empty {
    display: flex;
    flex: 1;
    /* background: white; */

}