.deck {
    display: flex;
    flex-direction: row;
    /* margin: 00px 0px; */
    /* margin: auto; */
    justify-content: center;
    /* border: 5px solid red; */
    height: 20rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.deck .cards {
    
    display: flex;
    flex-direction: row;
    
    gap: 50px;
    margin: 90px 0px;
}

.deck-card {
    display: flex;
    margin: 10px 0px;
    justify-content: center;
    
}

.deck .death {
    opacity: 0.5;
}

.deck .empty {
    display: flex;
    flex: 1;
    background: none;

}